html{
width: 100%;  
height: 100%;  
}
body {
width: 100%;  
font-size: 16px;  
background: linear-gradient(to right, rgba(249,255,233,1) 0%,rgba(213,236,182,1) 43%);   
margin: 0 auto; /*Выравнивание содержимого в body по центру */
}

header {
/*background-color: red; */
height: 180px;  
  
}
/****************  FOTO RADIO ************/
header div:nth-child(1) {
background-color: #555;
height: 140px; 
background-image: url('../img/index/yaesu_sm500_0.jpg') ;
background-repeat: no-repeat;
background-size: cover; 
opacity: 0.75;
}


/****************  MY FOTO************/
header div:nth-child(2) {
/*! background-color: green; */
height: 100px;
width: 100px;  
background-image: url('../img/index/roman_667_1000px_0.jpg') ;
background-repeat: no-repeat;
background-size: 100%; 
border: 1px solid #c3cad2;
border-radius: 50%;
position: relative;
top: -130px;
left: 5px;  
}


/********************   MENU LINK  ******/
header div nav {
text-align: center;  
position: relative;
top: -100px;  
}

nav a {
background-color: #f4efef;  
margin: 0 4px;;
padding: 3px; 
border-radius: 5px;
border: 1px solid blue; 
line-height: 30px;  
color: #590a0a;
text-decoration: none;  
}

nav a:hover {
background-color: #38352c;  
color: #dfe1ec;  
}
/***************************************
  PAYPAL.HTML
  MAIN
****************************************/
main.paypal {
height: 100vh;

}

section.paypal {
/* background-color: red; */
}
section.paypal div  li {
display: block;
margin: 10px auto;
}
div.card_3 div.img {
background-image: url('../radio_shop/images/img_index/alfa_bank.jpg');
background-repeat: no-repeat;
width: 200px;
height: 100px;
margin: 10px auto;
}

div.card_2 div.img {
background-image: url('../radio_shop/images/img_index/sber_bank.jpg');
background-repeat: no-repeat;
width: 200px;
height: 100px;
margin: 10px auto;
}

/***********  Yandex Money ***********/
div.card_1 {
width: 300px;
}
div.card_1 iframe {
height: 300px;
margin: auto;
}
/****************************************** 
CONTACT.HTML
MAIN
******************************************/
main.map {
/* background-color: teal;  */
width: 600px;  
margin: auto;  
}
main.map section.map:nth-child(1) {
margin:10px auto; /***** Выравнивание по центру *****/
display: flex;
flex-direction: column;
justify-content: start;
height: 100%;
width: 100%;
letter-spacing: 0.08em;
font-size: 1.1em;  
}


main.map section.map div img.map {
  width: 600px;
  height: 400px;
  }  



div.map li {
display: block;
 
}

/****************************************** 
INDEX.HTML
MAIN
******************************************/
main {
height: 100%;  
}

/*****************  ТЕКСТОВЫЕ БЛОКИ *************/
main section:nth-child(1) {
display: flex;
justify-content: center;
gap: 10px;
/*! background-color: red; */
margin-left: 10px;
margin-right: 10px;  
height:100%;
/*! border: 1px dashed #241e1e; */
/*! border-radius: 10px; */
}


main section article {

width:100%;
height: 100%;  
/*! background-color: green; */
color: #2f2323;
font-size: 1.1em;
border: 2px outset #42d467; 
border-radius: 10px;  
}

main section article li.color {
margin : 5px 5px;
color: #0b112f;
background-color: #f2f2c2;
border-radius: 10px;border: 1px solid black;  
}
main section article li:hover {
background-color: #f0e2b6;
transition-timing-function: ease-in-out;
transition-duration: 1s;
transition-delay: 300ms;
}

main section article li:before  {
content: '\2714 \00A0 \00A0';
color: blue;  
}

main section article li.p1:before  {
content: '\00A0\00A0\00A0\00A0\00A0\271A\00A0 \00A0';
color: blue;  
}
/********* Оформление стилей ссылок в блоке article  ******/
main section article a {
text-decoration: none;
color: #461122;  
}

main section article a:hover {
text-decoration: none;
color: #ebebf0;  
background-color: #4a4a41;
padding: 1px; 
border: 1px solid black;
border-radius: 2px;  
}

/***************Первая  секция *****************/
/* main section article:nth-child(1) {
background-image: url('../img/pcb_2_1.jpg');
background-repeat: no-repeat;
background-size: cover;


} */

/***************Вторая секция *****************/
/* main section article:nth-child(2) {
background-image: url('../img/pcb_1_1.jpg');
background-repeat: no-repeat;
background-size: cover;

} */


/***************Третья  секция *****************/
/* main section article:nth-child(3) {
background-image: url('../img/radio_cb_1_1.jpg');
background-repeat: no-repeat;
background-size: cover;
} */


main section article li  {
display: block;  
margin: 0 10px 0 10px;
opacity: 1;
text-shadow: -3px -2px 4px #85e15a;
}
/***********************  БЛОКИ ФОТОГРАФИЙ И ОПИСАНИЯ **************/
main section:nth-child(1) h3 {
display: block;
background-color: #ddddc4; 
text-align: center;
color: #3434bc;  
text-shadow: 1px 2px 4px #5faf32;    
letter-spacing: 5px;  
}



/*****************   PORTFOLIO *****/
main h2 {
display: block;
margin: 10px auto;  
/*! background-color: yellow; */
text-shadow: 1px 6px 14px #401a42;  
text-align: center;  
color: #a06b6b;
}


/******* Все секции в FLEX ****/
main section {
/*! background-color: blue; */  
display: flex;
flex-direction: row;
justify-content: center;  
gap: 10px;
height: 200px;  
} 




/*************** БЛОК  с ВИДЕО *******/
main  p {
/*! background-color: red; */
width: 200px;
color: #3a1010;
text-align: center; 

}
main section article h3::first-letter {
    font-family: "Times New Roman", Times, serif; /* Гарнитура шрифта первой буквы */
    font-size: 1.4em; /* Размер шрифта первого символа */
    color: blueviolet; /* Красный цвет текста */
   }

/*****************VOYAGER.HTML **********/
main section.video {
/* background-color: red; */
height: 100%;
flex-wrap: wrap; //Перенос на другую строку, если не вмещается
}

section.video > p {
width: 205px;
background-color: #fdfffd;
border-radius: 10px;
font-style:  oblique;
color: blue;
}

section.video > p  img {
margin: auto;
border: 2px solid blueviolet;   
width: 200px;
height: 300px; 

}

/************  FOTO   *******/
main img {
height: 100px; 
border-radius: 10px;  
filter:  grayscale(60%)   
}

main  img:hover {

border-radius: 10px;
border: 1px solid black;   
filter: contrast(110%) brightness(110%);  
transform: scale(0.95); 
/*transform: translate(3px); */   
}
/*******************  FOOTER **************/
footer {
margin: 20px 0 0 0;
display: flex;
flex-direction: column;
justify-content: space-between;  
text-align: center; 
background-color: #340808;
color: #ded1d1;  
}

footer section:first-child {


}

footer li {
 margin: 0 30px; 
 display: block;
 text-align: center; 
}

footer section:last-child {
border-top: 2px solid white;
 
}
article.footer_link_top {
display: flex;
flex-direction:row;  

}

.footer_link > div {
display: flex;
flex-direction: column;
margin: 1px; 
padding: 0 0 0 20px;
text-align: left;
}

.footer_link > div > a {
color: #f7f4c9;
text-decoration: none;
}
.footer_link > div > a:hover {
/*margin: 0 10px 0 10px;
padding: 0 10px 0 10px; */
background-color: #eaeca6;
color: #604f4f;
font-style: oblique;

}

article div.line {
margin: 0 20px 0 20px;
width: 2px;
background-color: #b5a97c;
}